.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
a {
  color: #495d56;
}
a:hover {
  color: #ffd351;
}
.header {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  padding: 20px;
  background-color: #a7b6b1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo {
  width: fit-content;
  padding: 5px;
}
.logo-medium {
  width: 164px;
  height: 216px;
}
.nav-list {
  display: flex;
  gap: 110px;
  color: #495d56;
  font-size: 1.2rem;
  list-style: trad-chinese-formal;
}
.footer {
  width: 100%;
  height: 210px;
  gap: 160px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #a7b6b1;
}
.footer-logo {
  width: 320px;
}

.footer-right {
  text-align: center;
  align-items: center;
  display: flex;
  margin: 18px 0px;
  flex-direction: column;
}
.fa {
  height: 20px;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa:hover {
  opacity: 0.7;
}
.fa-instagram::before,
.fa-pinterest::before,
.fa-snapchat-ghost::before,
.fa-youtube::before {
  content: "\f167"; /* Unicode for YouTube icon */
  right: 7px;
  bottom: 8px;
  position: relative;
}

.footer-links {
  color: #333333;
  font-size: 16px;
}

#about {
  background-color: #faf9f6;
  padding: 40px 20px;
  font-family: "Segoe UI", sans-serif;
  color: #333;
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
}

#about h2 {
  font-size: 2em;
  color: #2c3a36;
  margin-bottom: 20px;
}

#about p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem 1rem;
  gap: 2rem;
  height: 600px;
  align-items: center;
}

.card {
  background-color: #fff5dc;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  height: 400px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
}

.card-title {
  font-size: 1.2rem;
  color: #6b8e23;
}

.card-subtitle {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 0.5rem;
}

.badge {
  background-color: #17a2b8;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.cta {
  text-align: center;
  margin: 2rem 0;
}
.order-btn {
  background-color: #ffd351;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  box-shadow: 5px 7px 9px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order-btn:hover {
  background-color: #5c786e;
}

.banner {
  text-align: center;
  height: 200px;
}

.banner-img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
.banner-text {
  color: #333333;
  display: inline-block;
  padding-left: 100%;
  animation: slide-left 25s linear infinite;
  font-size: 26px;
  font-weight: bold;
  color: #333;
}
.sliding-banner {
  overflow: hidden;
  white-space: nowrap;
  padding: 1rem 0;
  width: 90%;
  top: 45%;
  left: 5%;
  position: absolute;
}
@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#menu-title {
  position: relative;
  left: 70px;
  top: 90px;
  font-size: 2em;
  color: #2c3a36;
  margin-bottom: 20px;
}
